/* ACTION BUTTONS */
.category-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.category-actions button {
  background: #2e3354;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
}

.category-actions button:hover {
  opacity: 0.9;
}

/* TABLE */

.table-wrapper {
  border: 1px solid #999;
  height: calc(100% - 50px);
  overflow: auto;
}

.category-table {
  width: 100%;
  border-collapse: collapse;
}

.category-table th,
.category-table td {
  border: 1px solid #999;
  padding: 10px;
}

.category-table th {
  background: #eee;
}