body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #3a3a3a;
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: white;
  padding: 40px 32px;
  border-radius: 20px;
  width: 360px;
  text-align: center;
}

/*Left-align Welcome Back! Subtitle*/
.login-card h2 {
  text-align: left;
  margin-bottom: 6px;
}

.subtitle {
  text-align: left;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/*added for the login padding*/
.login-card input {
  width: 100%;
  box-sizing: border-box; /* IMPORTANT */
  padding: 14px;
  margin: 10px 0;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #7cb342;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.version {
  margin-top: 20px;
  font-size: 12px;
  color: gray;
}

/*STEP 3 - Add layout CSS*/
.page {
  display: flex;
  height: 100vh;
}

.login-section {
  width: 40%;
  background: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section {
  width: 60%;
  background-image: url("images/food.jpg");
  background-size: cover;
  background-position: center;
}

/*STEP 4 - MOBILE RESPONSIVENESS*/
@media (max-width: 768px) {
  .page {
    flex-direction: column;
  }

  .login-section {
    width: 100%;
    height: 100vh;
  }

  .image-section {
    display: none;
  }
}

/*Added for the System Name*/
.system-name {
  font-size: 14px;
  color: #666;
  margin-top: -8px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}